.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-content: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.s-between {
  justify-content: space-between;
}

.s-around {
  justify-content: space-around;
}

.fit-all-space {
  flex: 1;
}

.absolute-t0-l0 {
  position: absolute;
  top: 0;
  left: 0;
}

.m-bottom-beta {
  margin-bottom: var(--m-beta);
}

.p-relative {
  position: relative;
}
