.svg-icon-default {
  width: var(--svg-dimension-alpha);
  height: var(--svg-dimension-alpha);
  margin-right: var(--m-alpha);
}

.svg-img-default {
  width: var(--svg-dimension-beta);
  height: var(--svg-dimension-beta);
}
.svg-wrapper {
  &-default {
    margin: auto;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      to right,
      transparent 0%,
      #e8e8e8 50%,
      transparent 100%
    );
    animation: skeleton 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes skeleton {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
