<div class="auth-container grid-center">
  <div class="grid-center" class="auth-block">
    <h3>Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <div *ngFor="let inputData of structureLoginForm.inputs">
        <app-form-input [setUp]="inputData"></app-form-input>
      </div>
      <div *ngFor="let checkBoxesData of structureLoginForm.checkBoxes">
        <app-form-checkbox [setUp]="checkBoxesData"></app-form-checkbox>
      </div>
      <ng-container *ngIf="(isLoggingIn$ | async) !== null as isLoggingIn">
        <app-form-btn
          [setUp]="{ label: 'login' }"
          [disable]="!isLoggingIn"
        ></app-form-btn>
      </ng-container>
    </form>
    <br />
    <button (click)="addUser()">Register</button>
    <br />
    {{ !(isLoggingIn$ | async) }}
    <br />
    {{ (isLoggingIn$ | async) !== null }}
  </div>
</div>
