<div class="auth-container grid-center">
  <div class="grid-center" class="auth-block">
    <app-img-wrapper [setUp]="config.formImg"></app-img-wrapper>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <ng-container *ngFor="let inputData of config.formStructure.inputs">
        <app-form-input [setUp]="inputData"></app-form-input>
      </ng-container>
      <ng-container
        *ngFor="let checkBoxesData of config.formStructure.checkBoxes"
      >
        <app-form-checkbox [setUp]="checkBoxesData"></app-form-checkbox>
      </ng-container>
      <app-form-btn
        [setUp]="{ label: 'login' }"
        [disable]="(isLoggingIn$ | async)!"
      ></app-form-btn>
    </form>
    <!-- <button (click)="addUser()">Register</button> -->
  </div>
</div>
