.auth {
  &-container {
    height: 100%;
    background: var(--c-Delaware);
  }
  &-block {
    background-color: var(--c-Connecticut);
    padding: var(--p-beta);
    border-radius: var(--b-radius-alpha);
    box-shadow: var(--box-shadow-alpha);
  }
}
