@use "../abstracts" as *;

:root {
  --c-Alabama: black;
  --c-Alaska: white;

  --c-Arizona: rgb(11, 49, 64);
  --c-Arkansas: rgb(22, 77, 89);
  --c-California: rgb(69, 140, 120);
  --c-Colorado: rgb(136, 191, 150);
  --c-Connecticut: rgb(242, 242, 242);

  --c-Delaware: linear-gradient(
    90deg,
    var(--c-Arizona) 0%,
    var(--c-Arkansas) 35%,
    var(--c-California) 100%
  );

  --c-Florida: radial-gradient(
    circle,
    var(--c-Arkansas) 0%,
    var(--c-California) 100%
  );

  --theme-background-primary: #0e1217;
  --theme-background-reverse: #fff;
  --theme-background-secondary: #1c1f26;
  --theme-background-tertiary: #17191f;

  --theme-label-primary: #fff;
  --theme-label-secondary: #cfd6e6;
  --theme-label-tertiary: #a8b3cf;
  --theme-label-quaternary: #a8b3cfa3;
  --theme-label-disabled: #a8b3cf52;

  --theme-divider-primary: #a8b3cf;
  --theme-divider-secondary: #a8b3cf66;
  --theme-divider-tertiary: #a8b3cf33;
  --theme-divider-quaternary: #a8b3cf14;
}

// /* Color Theme Swatches in Hex */
// .FlatPinky-1-hex { color: #285C76; }
// .FlatPinky-2-hex { color: #F05F6F; }
// .FlatPinky-3-hex { color: #461835; }
// .FlatPinky-4-hex { color: #FDF2FA; }
// .FlatPinky-5-hex { color: #F3B9BF; }

// /* Color Theme Swatches in RGBA */
// .FlatPinky-1-rgba { color: rgba(40, 91, 117, 1); }
// .FlatPinky-2-rgba { color: rgba(239, 94, 110, 1); }
// .FlatPinky-3-rgba { color: rgba(70, 23, 52, 1); }
// .FlatPinky-4-rgba { color: rgba(253, 242, 249, 1); }
// .FlatPinky-5-rgba { color: rgba(242, 184, 191, 1); }

// /* Color Theme Swatches in HSLA */
// .FlatPinky-1-hsla { color: hsla(200, 49, 30, 1); }
// .FlatPinky-2-hsla { color: hsla(353, 82, 65, 1); }
// .FlatPinky-3-hsla { color: hsla(322, 48, 18, 1); }
// .FlatPinky-4-hsla { color: hsla(316, 73, 97, 1); }
// .FlatPinky-5-hsla { color: hsla(353, 70, 83, 1); }

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=5520S0kiCFn8GVde7NVmtwSqXtg */

// https://paletton.com/#uid=5520S0kiCFn8GVde7NVmtwSqXtg to see

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 {
  color: hsl(315, 58%, 58%);
} /* Main Primary color */
.color-primary-1 {
  color: #f3b1e2;
}
.color-primary-2 {
  color: #e47fcb;
}
.color-primary-3 {
  color: #be399d;
}
.color-primary-4 {
  color: #ac1b88;
}

.color-secondary-1-0 {
  color: #7762ca;
} /* Main Secondary color (1) */
.color-secondary-1-1 {
  color: #c3b7f1;
}
.color-secondary-1-2 {
  color: #9988df;
}
.color-secondary-1-3 {
  color: #5a44b2;
}
.color-secondary-1-4 {
  color: #412aa1;
}

.color-secondary-2-0 {
  color: #ff996b;
} /* Main Secondary color (2) */
.color-secondary-2-1 {
  color: #ffcfba;
}
.color-secondary-2-2 {
  color: #ffb28f;
}
.color-secondary-2-3 {
  color: #ff844c;
}
.color-secondary-2-4 {
  color: #e96225;
}

// /* As RGBa codes */

.rgba-primary-0 {
  color: rgba(210, 88, 179, 1);
} /* Main Primary color */
.rgba-primary-1 {
  color: rgba(243, 177, 226, 1);
}
.rgba-primary-2 {
  color: rgba(228, 127, 203, 1);
}
.rgba-primary-3 {
  color: rgba(190, 57, 157, 1);
}
.rgba-primary-4 {
  color: rgba(172, 27, 136, 1);
}

.rgba-secondary-1-0 {
  color: rgba(119, 98, 202, 1);
} /* Main Secondary color (1) */
.rgba-secondary-1-1 {
  color: rgba(195, 183, 241, 1);
}
.rgba-secondary-1-2 {
  color: rgba(153, 136, 223, 1);
}
.rgba-secondary-1-3 {
  color: rgba(90, 68, 178, 1);
}
.rgba-secondary-1-4 {
  color: rgba(65, 42, 161, 1);
}

.rgba-secondary-2-0 {
  color: rgba(255, 153, 107, 1);
} /* Main Secondary color (2) */
.rgba-secondary-2-1 {
  color: rgba(255, 207, 186, 1);
}
.rgba-secondary-2-2 {
  color: rgba(255, 178, 143, 1);
}
.rgba-secondary-2-3 {
  color: rgba(255, 132, 76, 1);
}
.rgba-secondary-2-4 {
  color: rgba(233, 98, 37, 1);
}

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */

// Georgia
// Hawaii
// Idaho
// Illinois
// Indiana
// Iowa
// Kansas
// Kentucky
// Louisiana
// Maine
// Maryland
// Massachusetts
// Michigan
// Minnesota
// Mississippi
// Missouri
// Montana
// Nebraska
// Nevada
// New Hampshire
// New Jersey
// New Mexico
// New York
// North Carolina
// North Dakota
// Ohio
// Oklahoma
// Oregon
// Pennsylvania
// Rhode Island
// South Carolina
// South Dakota
// Tennessee
// Texas
// Utah
// Vermont
// Virginia
// Washington
// West Virginia
// Wisconsin
// Wyoming
