@use "../abstracts" as *;

:root {
  --b-radius-alpha: 1em;
  --b-radius-beta: 50%;

  --p-alpha: 0.5em 0.8em;
  --p-beta: 1.5em;
  --p-gamma: 0.5em;

  --m-alpha: 0.6em;
  --m-beta: 1.8em;

  --b-alpha: 2px solid var(--c-Arkansas);

  --box-shadow-alpha: 3px 3px 10px 1px rgba(0, 0, 0, 0.4);
  --box-shadow-beta: 1px 4px 10px -3px rgba(0, 0, 0, 0.4);
  --box-shadow-gamma: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));

  --svg-dimension-alpha: 2em;
  --img-dimension-alpha: 11em;

  --form-input-padding-alpha: calc(
    var(--svg-dimension-alpha) + var(--m-alpha) + 0.1em
  );
  // --box-shadow-alpha: inset -0.6em -0.6em 1em rgba(165, 79, 29, 0.6),
  //   inset 0.4em 0.4em 0.5em rgba(245, 230, 221, 0.6),
  //   0.8em 0.8em 2em rgba(165, 79, 29, 0.6);
  // --icon-size-alpha: 50px
}
